
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  width: '250px';
  height: '60px';
  padding-left:'20px'; 
  padding-right:'150px';
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7eed2;
  z-index: 1000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

nav ul li a {
 justify-content: left;
  text-decoration: none;
  color: #01638a;
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 20px;
}

nav ul li a:hover {
  color: #982649;
}

footer {
  background-color: #f7eed2;
  color: #01638a;
  text-align: center; 
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  
  /* Flexbox for vertical and horizontal centering */
  display: flex;
  justify-content: center;
  align-items: center;
}