/* Main CSS */

#root {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
 
html, body {
  background-color: #174785;
  margin: -8px;
}

#hamburger-button {
  display: none;
}

#hamburger-menu {
    display: none;
}

#mini-logo {
  display: none;
}

#hamburger-menu.visible {
  display: block;
}

.hidden {
  display: none;
}
 
.page_container {
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#data-message {
  display: none;
}
 
/* Media Queries */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
 
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
 
.card {
  padding: 2em;
}
 
.read-the-docs {
  color: #888;
}


@media screen and (max-width: 1024px) {

  nav ul {
    flex-direction: column;
    padding: 10px 0;
  }

  h1 {
    font-size: 1.9em;
    line-height: 1.1;
  }

  .main-container {
      flex-direction: column;
      align-items: center;
  }

  .comparison-section {
      width: 100%;
      margin-left: 0;
  }

  #full-menu {
      display: none;
  }

  #hamburger-menu.visible {
      display: block;
  }

  #mini-logo {
    display: block;
}

  #mini-menu-bar {
    display: flex;
    background-color: #f7eed2;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #mini-logo {
    padding-top: 10px;
    width: 200px;
  }

  #hamburger-button {
    display: block;
    width: 50px;
    padding-right: 20px;
  }

  #hamburger-menu {
    background-color: #71A2B6;
    padding-bottom: 50px;
  }

  #data-message {
    display: none;
  }
}



@media screen and (max-width: 768px) {

  nav ul li a {
    font-size: 1.2em;
    padding: 10px;
  }

  .big-circle {
    width: 150px !important;
    height: 150px !important;
  }

  .small-circle {
    width: 80px;
    height: 80px;
    font-size: 16px;
  }

  .filter {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
  }

  .filter-content {
    max-width: 100%;
    text-align: center;
  }

  .water-quality-data {
    padding: 15px;
  }
   .water-quality-data th, .water-quality-data td {
    padding: 10px;
    font-size: 14px;
  }

  #data-message {
    display: none;
  }
}


@media screen and (max-width: 480px) {

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li a {
    font-size: 1em;
    padding: 8px;
  }

  .big-circle {
    width: 120px !important;
    height: 120px !important;
  }

  .small-circle {
    width: 50px !important;
    height: 50px !important;
    font-size: 14px;
  }

  #county-select {
    width: 60%;
    font-size: 20px;
  }

  #data-table {
    display: none;
  }

  #data-message {
    display: block;
    font-size: 25px;
  }
}


 /* Navbar CSS*/

 nav {
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 15px;
  background-color: #f7eed2;
  z-index: 1000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
 }
 
 nav ul li {
  flex-grow: 1;
  text-align: center;
 }
 
 nav ul li#logo img {
  width: 200px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
 }
 
 
 nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 20px;
 }
 
 nav ul li a:hover {
  color: #982649;
 }

 
 /* Footer */

 footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background-color: #f7eed2;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
 }
 
 
 /* Main page */

 #main-content {
  padding-top: 80px;
  padding-bottom: 40px;
 }
 
 #main_info {
 display: flex;
 justify-content: center;
 flex-direction: column;
 Background-color: #71A2B6;
 color: #000000;
 padding : 2.0em;
 margin-left: 5.0em;
 margin-right: 5.0em;
 margin-bottom: 1.0em;
 border-radius: 25px;
 }
 
 .pfas-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  margin-top: 20px;
  margin-right: 100px;
 }
 
 .big-circle {
  width: 200px;
  height: 200px;
  margin: 50px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  background-color: #982649;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
 }
 
 .small-circles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 
 .big-number {
  font-size: 70px;
 }
 
 .big-label {
  font-size: 18px;
 }
 
 .small-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #71A2B6;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 }
 
 .small-circle:hover {
  background-color: #982649; 
  color: white;
  transition: background-color 0.3s ease; 
 }
 
 .tooltip {
  position: absolute;
  font-size: small;
  text-align: left;
  background-color: #982649;
  color: white;
  padding: 10px;
  border-radius: 8px;
  z-index: 1000;
  transform: translate(-50%, -100%);
  min-width: 150px;
  max-width: 300px;
  word-wrap: break-word;
 }
 
 #go-button {
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
 }
 
 .back-button {
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 15px;
 }
 
 .main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  color: #000000;
  padding: 20px;
 }
 
 
 /* Map page */
 
 .map-container {
  text-align: right;
  margin: 50px;
  padding: 10px;
  border: 3px;
  background-color: black;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 }
 
 .map {
  height: 600px;
 }
 
 .input-section {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
 }
 
 .input-section select {
  padding: 15px;
  font-display: center;
  font-size: 1.2em;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 250px;
  margin: 5px;
 }
 
 .input-section select:hover,
 .input-section select:focus {
  background-color: #f0f0f0;
  outline: none;
 }
 
 .reset-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  color: black;
 }
 
 .reset-button:hover {
  background-color: #f0f0f0;
 }
 
 .map-section {
  flex: 2;
 }

 .comparison-section {
  flex: 1;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  color: black;
 }
 
 .water-quality-data {
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: black;
 }
 
 .water-quality-data table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
 }
 
 .water-quality-data th, .water-quality-data td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  font-size: 16px;
 }
 
 .water-quality-data th {
  background-color: #007BFF;
  color: white;
 }
 
 .water-quality-data tbody tr:nth-child(even) {
  background-color: #f2f2f2;
 }
 
 
 .water-quality-data tbody tr:hover {
  background-color: #ddd;
 }
 
 .filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #71A2B6;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 50px;
  margin-bottom: 50px;
  margin-left: 10.0em;
  margin-right: 10.0em;
  border-radius: 25px;
 }
 
 .filter-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%;
 }
 
 .filter ul {
  list-style-position: inside;
 }
 
 .filter ul li {
  text-align: left;
 }
 
 .filter-image {
  max-height: 250px;
  max-width: 250px;
  object-fit: contain;
  align-self: center;
 }
 
 
 /* Resource page */
 
 #resources-info{
  margin-top: 50px;
  margin-left: 5.0em;
  margin-right: 5.0em;
  padding : 2.0em;
  background-color: #982649;
  border-radius: 25px;
 }

 .filter {
  display: flex;
  justify-content: center; 
  background-color: #71A2B6;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  margin-left: 5.0em;
  margin-right: 5.0em;
  border-radius: 25px;
 }
 
 .filter-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  color:#000000;
 }
 
 .filter-content {
  text-align: left;
 }

 .filter ul {
  list-style-position: inside;
 }
 
 .filter ul li {
  text-align: left;
 }

 .filter-image {
  max-height: 250px;
  max-width: 250px;
  object-fit: contain;
  align-self: center;
 }
 
 .video-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
 }
 
 .page-title {
  margin-top: 100px;
 }
 
