

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Concert One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #174785;
  margin: 0; /* Remove default margins if needed */
  padding: 0;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f7eed2;
  z-index: 1000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}

nav ul li {
  flex-grow: 1;
  text-align: center;
}

nav ul li#logo img {
  width: 200px;  /* Adjust the size as needed */
  height: auto; /* Keeps the aspect ratio */
  padding-left: 20px; 
  padding-right: 20px;
  padding-top: 20px;
}

nav ul li a {
  justify-content: right;
   text-decoration: none;
   color: #01638a;
   font-size: 1.5em;
   font-weight: bold;
   padding: 15px 20px;
 }

nav ul li a:hover {
  color: #982649;
}

footer {
  background-color: #f7eed2;
  color: #01638a;
  text-align: center; 
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  
  /* Flexbox for vertical and horizontal  hahahahahahh testing lol lmao */
  display: flex;
  justify-content: center;
  align-items: center;
}